<!-- <div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4 box-shadow align-items-center">
          <zxing-scanner
            class="card-img-top"
            [enable]="scanStatus"
            [formats]="allowedFormats"
            (scanComplete)="scanProcess($event)"
            style="height: 150px; width: 40%; display: block"
          ></zxing-scanner>
          <div class="card-body">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora
              eaque, sit non laudantium assumenda esse quisquam accusamus. Illo
              veniam ut perferendis natus! Alias aspernatur doloribus aperiam
              omnis totam ducimus voluptas?
            </p>
            <p class="card-text bg-dark" *ngFor="let item of historyResult">
              {{ item.getText() }} FORMAT:{{ item.getBarcodeFormat() }}
            </p>
            <div class="d-flex justify-content-center align-items-center">
              <div>
                <button
                  type="button"
                  class="btn"
                  (click)="toggleScanStatus()"
                  [ngClass]="
                    scanStatus ? 'btn-outline-success' : 'btn-outline-danger'
                  "
                >
                  <i class="bi bi-qr-code-scan"></i> Escanear
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="card">
  <!-- <img class="card-img-top img-responsive" src="../assets/images/big/img1.jpg" alt="Card image cap"> -->
  <zxing-scanner
    class="card-img-top"
    [enable]="scanStatus"
    [formats]="allowedFormats"
    (scanComplete)="scanProcess($event)"
  ></zxing-scanner>
  <br />
  <button
    type="button"
    class="btn col-3 align-items-center"
    (click)="toggleScanStatus()"
    [ngClass]="scanStatus ? 'btn-outline-success' : 'btn-outline-danger'"
  >
    <i class="bi bi-qr-code-scan"></i> Escanear
  </button>

  <div class="card-body">
    <h4 class="card-title">Historial</h4>
    <!-- <textarea class="card-text container-fluid" style="height: 250px"> -->
      <p class="card-text" *ngFor="let item of historyResult">
        {{ item.getText() }}  FORMAT:{{ item.getBarcodeFormat() }}
      </p>
    <!-- </textarea> -->
    <p class="card-text"></p>
  </div>
</div>
